.banner_image
{
    padding-top:75px;
    padding-bottom: 50px;
    text-align: center;
    color:#f8f8f8;
   background: url(http://cdn-image.travelandleisure.com/sites/default/files/styles/tnl_redesign_article_landing_page/public/1445869094/gather-home-and-lifestyle-ch1015.jpg?itok=XtnQb_wb) no-repeat center center;
   background-size: cover;
   height:750px;
}
.banner_content{
    position:relative;
    margin-left: 22%;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0,0,0,0.7);
    max-width: 660px;
    
}
.txt
{
    padding: 0%;
}
footer
{
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
}